<!doctype html>
<html>
<head>
<title>Meadowlark Travel</title>
</head>
<body>

<header><img src="logo.svg" style="width:250px;" alt="Meadowlark Travel Logo"></header>
<footer>
 <p>Posted by: Brandon Arbogast</p>
 <p>Contact information: <a href="bdarbog@pointpark.edu">
  bdarbog@pointpark.edu</a>.</p>
</footer> 
{{{body}}}
</body>
</html>
